<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="admin/partial/head :: head"></head>
<link rel="stylesheet" href="/assets/admin/css/fm.tagator.jquery.css">

<body data-type="widget">
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header th:replace="admin/partial/header :: header"></header>
    <!-- 风格切换 -->
    <div th:replace="admin/partial/skiner :: skiner"></div>
    <!-- 侧边导航栏 -->
    <!-- 侧边导航栏 -->
    <div class="left-sidebar" th:fragment="leftside">
        <!-- 用户信息 -->
        <head th:replace="admin/partial/userInfo :: userInfo"></head>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-link">
                <a href="/admin">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>

            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title active">
                    <i class="am-icon-file-text-o sidebar-nav-link-logo"></i> 文章管理
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico sidebar-nav-sub-ico-rotate"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                    <li class="sidebar-nav-link">
                        <a href="/admin/category/list">
                            <span class="am-icon-th-list sidebar-nav-link-logo"></span>分类管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin/tag/list">
                            <span class="am-icon-tags sidebar-nav-link-logo"></span>标签管理
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/admin/article/list" class="sub-active">
                            <span class="am-icon-list-alt sidebar-nav-link-logo"></span>文章列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-nav-link">
                <a href="/admin/link/list">
                    <i class="am-icon-group sidebar-nav-link-logo"></i> 友情链接
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">文章</div>
                    </div>
                    <div class="widget-body  am-fr">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" onclick="articleAdd()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--搜索-->
                        <div style="float: right" class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" id="keyword" class="am-form-field ">
                                <span class="am-input-group-btn">
                                        <button id="article-search" class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                    </span>
                            </div>
                        </div>

                        <div id ="dataList" ></div>

                        <div class="am-u-lg-12 am-cf">

                            <div style="float: left" class="pagination">共
                                <span id="total-num"></span>
                                条记录
                                <span id="current-page"></span>
                                /
                                <span id="total-page"></span>
                            </div>

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination" id="pagination">
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 维护信息弹窗 -->
<div id="dialogBg"></div>
<div id="dialog" class="animated"></div>

<script src="/assets/admin/js/amazeui.min.js"></script>
<script src="/assets/admin/js/amazeui.datatables.min.js"></script>
<script src="/assets/admin/js/dataTables.responsive.min.js"></script>
<script src="/assets/admin/js/app.js"></script>
<script src="/assets/admin/js/theme.js"></script>
<script src="/assets/js/jqPaginator.min.js"></script>
<script src="/assets/js/validation.js"></script>
<script src="/assets/admin/js/fm.tagator.jquery.js"></script>

<script type="text/javascript">
    //<![CDATA[
    //弹窗控件
    var w,h,className;
    function getSrceenWH(){
        w = $(window).width();
        h = $(window).height();
        $('#dialogBg').width(w).height(h);
    }
    window.onresize = function(){
        getSrceenWH();
    }
    $(window).resize();
    $(function(){
        getSrceenWH();
    });
    //进度条
    var progress = $.AMUI.progress;

    //初始化页面数据
    $(function(){
        initPage();
    })

    function openLayer(text, callBack) {
        $('#winNewTag').removeAttr('class').addClass('animated ' + 'bounceIn').fadeIn();
        $('#tagName').val(text);
        $('#winNewTag').off('click');
        $('#winNewTag').on('click', '#saveTag', function() {
            insertTag(callBack);
        })
    }

    function insertTag(callBack) {
        $.ajax({
            type: 'POST',
            url: '/admin/tag/inertOrUpdate',
            data: 'name=' + $('#tagName').val(),
            beforeSend: function () {
                $("#saveTag").attr("disabled","true");
            },
            success: function (data) {
                callBack(data);
                layer.msg("保存成功！", {
                    time: 1000 //1s后自动关闭
                });
                winTagClose();
            },
            error: function (errMsg) {
                layer.msg(JSON.stringify(errMsg), {
                    time: 1000 //1s后自动关闭
                });
            },
            complete: function () {
                $("#saveTag").removeAttr("disabled");
            }
        });
    }

    //关闭弹窗
    function winTagClose() {
        $('#winNewTag').addClass('bounceOutUp').fadeOut();
    };

    //点击新增按钮
    function articleAdd(){
        $.ajax({
            url : '/admin/article/addDetail',
            method:"GET",
            success  : function(data) {
                $('#dialog').html(data);
                var obj = $('#tags').val();
                $('#tags').tagator({
                    autocomplete: obj
                });
                tipOpen();
            }
        });
    }

    //点击新增按钮
    function articleEdit(id){
        $.ajax({
            url : '/admin/article/editDetail/'+id,
            method:"GET",
            success  : function(data) {
                $('#dialog').html(data);
                var obj = $('#tags').val();
                $('#tags').tagator({
                    autocomplete: obj
                });
                tipOpen();
            }
        });
    }

    //点击删除按钮
    function articleDelete(id){
        layer.confirm('确定删除该条数据？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                url : '/admin/article/deleteDetail/'+id,
                method:"GET",
                success  : function(data) {
                    layer.msg('删除成功!', {
                        time: 1000 //1s后自动关闭
                    });
                    tipClose();
                    initPage();
                    loadArticleList();
                }
            });
        }, function(){
            layer.close();
        });
    }

    function tipOpen() {
        $('#dialogBg').fadeIn(300);
        $('#dialog').removeAttr('class').addClass('animated ' + 'bounceIn').fadeIn();
    }

    //关闭弹窗
    function tipClose() {
        $('#dialogBg').fadeOut(300, function () {
            $('#dialog').addClass('bounceOutUp').fadeOut();
        });
    };

    // 编辑分类
    function saveArticle(){
        var data = {};
        $("#editForm").serializeArray().map(function(x){
            if (data[x.name] != undefined) {
                if (!data[x.name].push) {
                    data[x.name] = [data[x.name]];
                }
                data[x.name].push(x.value);
            } else {
                data[x.name] = x.value;
            }
        });
        var tags = eval('(' + $("#tags").val() + ')');
        var tagModels = [];
        for(var index in tags){
            tagModels.push(tags[index]);
        }
        data.tags = tagModels;

        $('#saveButton').attr("disabled","true");
        if(validateArticle()){
            $.ajax({
                type: 'POST',
                url : '/admin/article/inertOrUpdate',
                data : JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success  : function(data) {
                    layer.msg('保存成功!', {
                        time: 1000 //1s后自动关闭
                    });
                    tipClose();
                    initPage();
                    loadArticleList();
                },
                error : function (errMsg) {
                    layer.msg(errMsg, {
                        time: 1000 //1s后自动关闭
                    });
                }
            });
        }
        $('#saveButton').removeAttr("disabled");
    }

    // 校验新增分类输入框
    function validateArticle(){
        var categoryId = $("#categoryId").val();
        var title = $("#title").val();
        var status = $("#status").val();
        var author = $("#author").val();
        if(isEmpty(categoryId)){
            layer.msg("分类不能为空", {
                time: 1000 //1s后自动关闭
            });
            return false;
        }
        if(isEmpty(status)){
            layer.msg("状态不能为空", {
                time: 1000 //1s后自动关闭
            });
            return false;
        }
        if(isEmpty(title)){
            layer.msg("标题不能为空", {
                time: 1000 //1s后自动关闭
            });
            return false;
        }
        if(!isEmpty(author)){
            if(isSpecialSymbols(author)){
                layer.msg("作者不能包含特殊符号", {
                    time: 1000 //1s后自动关闭
                });
                return false;
            }
        }else{
            layer.msg("作者不能为空", {
                time: 1000 //1s后自动关闭
            });
            return false;
        }
        return true;
    }

    // 加载分类列表
    function loadArticleList(){
        progress.start();
        // 收集参数
        var keyword = $("#keyword").val();
        var page = $("#current-page").text();
        if(isEmpty(page) || page == 0){
            page = 1;
        }

        // 查询列表
        $.ajax({
            url : '/admin/article/load',
            data : 'page='+page+"&title="+keyword,
            success  : function(data) {
                $("#dataList").html(data);
            }
        });
        progress.done();
    }

    // 搜索
    $("#article-search").on("click",function () {
        $(this).attr("disabled","true");
        initPage();
        loadArticleList();
        $(this).removeAttr("disabled");
    });

    //初始化页面
    function initPage() {
        progress.start();
        var keyword = $("#keyword").val();
        var page = $("#current-page").text();
        if (page==null || page ==0 ){
            page = 1;
        }
        $.ajax({
            url : '/admin/article/initPage',
            data : 'page='+page+"&title="+keyword,
            success  : function(data) {
                $("#total-num").text(data.totalCount);
                $("#total-page").text(data.totalPageNum);
                $("#current-page").text(data.page);
                if (data.totalCount > 0) {
                    $.jqPaginator('#pagination', {
                        totalPages: data.totalPageNum,
                        visiblePages: 5,
                        currentPage: data.page,
                        prev: '<li class="prev am-active"><a href="javascript:;">«</a></li>',
                        next: '<li class="next am-active"><a href="javascript:;">»</a></li>',
                        page: '<li class="pageam-active"><a href="javascript:;">{{page}}</a></li>',
                        onPageChange: function (num, type) {
                            // 加载分类列表
                            $("#current-page").text(num);
                            loadArticleList();
                        }
                    });
                }else {
                    loadArticleList();
                }
            }
        });
        progress.done();
    }
    //]]>
</script>

</body>

</html>