<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget">
                    <h3> <i class="fa fa-user"></i> About</h3>
                    <p>萝卜坨米的</p>
                    <p>个人博客小站</p>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3> <i class="fa fa-pencil"></i> Links</h3>
                    <div id="linkList"></div>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3>
                        <i class="fa fa-envelope">  Contact Me</i>
                    </h3>
                    <i class="fa fa-envelope-o"></i> : <a href="mailto:wusjcoding@foxmail.com">wusjcoding@foxmail.com</a>
                    <br>
                    <i class="fa fa-qq"> : 328494403</i>
                    <div class="footer-widget-icon">
                        <i class="fa fa-github"></i><i class="fa fa-weibo"></i></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="widewrapper copyright">
        © Copyright 2017 by WuShengJie
        <br>
        <a href="http://www.miit.gov.cn/" target="_blank" title="蜀ICP备17022320号">蜀ICP备17022320号</a>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="glyphicon glyphicon-arrow-up"></i></a>
    </div>
</footer>