<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>萝卜坨米|Blog</title>
    <meta name="description" content="">
    <!-- 百度验证 -->
    <meta name="viewport" content="width=device-width">
    <meta name="baidu-site-verification" content="EgpaoPoSSd" />
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/style.css" id="theme-styles">
</head>