<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <title>萝卜坨米|Blog</title>
    <!-- 百度验证 -->
    <meta name="baidu-site-verification" content="EgpaoPoSSd" />
    <meta name="description" content="萝卜坨米的个人博客">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
    <link rel="Bookmark" href="/assets/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon.ico">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/style.css" id="theme-styles">
    <!--editormd-->
    <link rel="stylesheet" href="/assets/editormd/css/editormd.css" />
    <link rel="stylesheet" href="/assets/editormd/css/editormd.preview.css" />
    <link rel="stylesheet" href="/assets/css/pagination.css">
    <!--百度统计-->
    <script src="/assets/js/baidu.js"></script>

</head>