<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="widewrapper masthead">
        <div class="container">
            <a class="blogTile" href="/index">
                萝卜坨米<!--<img src="/assets/img/logo.png" alt="萝卜坨米">-->
            </a>
            <!--手机访问时设置弹出导航 浮动至右边-->
            <div id="mobile-nav-toggle" class="pull-right">
                <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <nav class="pull-right clean-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">
                        <li>
                            <a href="/index">首页</a>
                        </li>
                        <li>
                            <a href="/archive">文章归档</a>
                        </li>
                        <li>
                            <a href="/aboutMe">关于我</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="widewrapper subheader">
        <div class="container">
            <!--<div class="clean-breadcrumb">
                <a href="#">首页</a>
            </div>-->

            <div class="clean-searchbox">
                <form action="/search" method="get" accept-charset="utf-8">
                    <input class="searchfield" id="key" name="searchKey" type="text" placeholder="Search">
                    <button class="searchbutton" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>