<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row">
    <div class="col-md-6 col-sm-6" th:each="article,stat : ${articleList}" th:id="'/article/'+${article.id}">
        <article class="blog-teaser">
            <header class="meta">
                <h3><a th:href="'/article/'+${article.id}" th:text="${article.title}"></a></h3>
                <i class="fa fa-calendar" th:text="'&nbsp;' + ${#dates.format(article.createTime,'yyyy-MM-dd')}"></i>
                <i class="fa fa-user" th:text="'&nbsp;' + ${article.author}"></i>
                <hr>
            </header>
            <div id="article-content" class="body markdown-body editormd-html-preview" th:utext="${article.content}">
            </div>
            <div class="clearfix">
                <a th:href="'/article/'+${article.id}" class="btn btn-clean-one">More</a>
            </div>
        </article>
    </div>
</div>