<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head"></head>
<body>
    <!--头部-->
    <header th:replace="partial/header :: header"></header>

    <div class="widewrapper main">
        <div class="container about">
            <h1>Hello, My name is <span class="about-bold">  John Doe</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus inventore magni ratione perferendis ex molestiae cum reiciendis perspiciatis consequuntur, nihil ducimus corrupti! Ipsum nesciunt ipsa nobis obcaecati labore, rem recusandae?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quo sint asperiores, ut doloremque eum commodi, odit nisi sed repellendus earum recusandae pariatur consectetur minus rerum, magni dolores officiis magnam.</p>
            <div class="about-button">
                <a class="btn btn-xlarge btn-clean-one" href="contact.html">Contact Me</a>
            </div>
            <hr>
        </div>
    </div>

    <!--尾部-->
    <footer th:replace="partial/footer :: footer"></footer>
    
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="glyphicon glyphicon-arrow-up"></i></a>
	</div>
	
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
	<!--自定义js-->
	<script src="/assets/js/index.js"></script>

</body>
</html>