<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head"></head>
<body>
    <!--头部-->
    <header th:replace="partial/header :: header"></header>

    <div class="widewrapper main">
        <div class="container about">
            <h1>你好,我是吴盛洁</h1> <span class="about-bold"></span>
            <p> 这是我的个人小站。 </p>
            <hr>
        </div>
    </div>

    <!--尾部-->
    <footer th:replace="partial/footer :: footer"></footer>
    
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="glyphicon glyphicon-arrow-up"></i></a>
	</div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <!--自定义js-->
    <script src="/assets/js/aboutMe.js"></script>
</body>
</html>