<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head"></head>
<body>
    <!--头部-->
    <header th:replace="partial/header :: header"></header>
	<link rel="stylesheet" href="/assets/css/jquery.eeyellow.Timeline.css">

    <div class="widewrapper main" >
        <div class="container">
            <div class="row" id='endlessRow'>
                <div class="col-md-6 clean-superblock">
                   <div class="container">
					  <div class="row">
						<div class="col-md-12">
						  <div class="VivaTimeline">
							<dl>
							  <dt>2016 3月</dt>
								  <dd class="pos-left clearfix">
								  <div class="circ"></div>
									  <div class="time">Feb 03</div>
									  <div class="events">
											<div class="events-header">Event Heading</div>
											<div class="events-body">
												  <div class="row">
														<div class="events-desc">
														  ......
														</div>
												  </div>
											</div>
											<div class="events-footer">
												...
											</div>
									  </div>
								  </dd>
							  <!-- 其它时间节点 -->
							  <dt>Jan 2016</dt>
								<dd class="pos-right clearfix">
								  <div class="circ"></div>
									  <div class="time">Feb 03</div>
									  <div class="events">
											<div class="events-header">Event Heading</div>
											<div class="events-body">
												  <div class="row">
														<div class="events-desc">
														  ......
														</div>
												  </div>
											</div>
											<div class="events-footer">
												...
											</div>
									  </div>
								  </dd>
							  <dt>Dec 2015</dt>
							  <dt>Oct 2015</dt>
							  <dt>Sep 2015</dt>
							  <dt>Aug 2015</dt>
							</dl>
						  </div>
						</div>
					  </div>
					</div>
                </div>
            </div>        
        </div>
    </div>

    <!--尾部-->
    <footer th:replace="partial/footer :: footer"></footer>

	<script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
	<!--时间轴js-->
	<script type="text/javascript" src="/assets/js/jquery.eeyellow.Timeline.js"></script>
	<!--自定义js-->
	<script src="/assets/js/index.js"></script>
</body>
</html>