<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head"></head>
<body>
    <!--头部-->
    <header th:replace="partial/header :: header"></header>
	<link rel="stylesheet" href="/assets/css/jquery.eeyellow.Timeline.css">

    <div id="total" th:text="${total}" style="display: none;"></div>

    <div class="widewrapper main" >
        <div class="container">
            <div class="row" >
                <div class="col-md-6 clean-superblock">
                   <div class="container">
					  <div class="row">
						<div class="col-md-12">
						  <div class="VivaTimeline">
							<dl id='endlessRow'>
                                <div id="spinner">
                                    正在加载...
                                </div>
                                <div th:each="archive,stat :${archiveList}">
							        <dt th:text="${archive.month}"></dt>
                                    <div th:each="article,stat2 :${archive.articleList}">
                                        <dd th:if="${stat2.index % 2 == 0}" class="pos-left clearfix">
                                            <div class="circ"></div>
                                            <div class="time" th:text="${#dates.format(article.createTime,'MM-dd')}"></div>
                                            <div class="events">
                                                <div class="events-header" th:text="${article.title}"></div>
                                                <div class="events-body">
                                                    <div class="row" th:text="${article.description}" style="text-align: center">
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                        <dd th:if="${stat2.index % 2 != 0}" class="pos-right clearfix">
                                            <div class="circ"></div>
                                            <div class="time" th:text="${#dates.format(article.createTime,'MM-dd')}"></div>
                                            <div class="events">
                                                <div class="events-header" th:text="${article.title}"></div>
                                                <div class="events-body">
                                                    <div class="row" th:text="${article.description}" style="text-align: center">
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>
                                    </div>
                                </div>
							</dl>
						  </div>
						</div>
					  </div>
					</div>
                </div>
            </div>        
        </div>
    </div>

    <!--尾部-->
    <footer th:replace="partial/footer :: footer"></footer>

	<script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
	<!--时间轴js-->
	<script src="/assets/js/jquery.eeyellow.Timeline.js"></script>
	<!--自定义js-->
	<script src="/assets/js/archive.js"></script>
	<script src="/assets/js/footer.js"></script>
</body>
</html>