<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head"></head>
<body>
    <!--头部-->
    <header th:replace="partial/header :: header"></header>
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                            <!--<div class="lead-image">
                                <img src="..//assets/img/single-post.jpg" alt="" class="img-responsive">
                            </div>-->
                        </header>
                        <div class="body">
                            <h1 th:text="${article.title}"></h1>
                            <div class="meta">
                                <i class="fa fa-calendar" th:text="'&nbsp;' + ${#dates.format(article.createTime,'yyyy-MM-dd')}"></i>
                                <i class="fa fa-user" th:text="'&nbsp;' + ${article.author}"></i>
                            </div>
                            <!--详情-->
                            <div id="article-content" class="body">
                                <textarea id="append-test" style="display:none;" th:utext="${article.content}"></textarea>
                            </div>
                        </div>
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>Share on </h3> 
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
                    </aside>

                    <aside class="comments" id="comments">
                        <hr>

                        <h2><i class="fa fa-comments"></i> 6 Comments</h2>

                        <article class="comment">
                            <header class="clearfix">
                                <img src="..//assets/img/avatar.png" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment reply">
                            <header class="clearfix">
                                <img src="..//assets/img/avatar.png" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment ">
                            <header class="clearfix">
                                <img src="..//assets/img/avatar.png" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment">
                            <header class="clearfix">
                                <img src="..//assets/img/avatar.png" alt="A Smart Guy" class="avatar">
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>        
                    </aside>

                    <aside class="create-comment" id="create-comment">
                        <hr>    

                        <h2><i class="fa fa-pencil"></i> Add Comment</h2>

                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" id="comment-name" placeholder="Your Name" class="form-control input-lg">    
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="email" id="comment-email" placeholder="Email" class="form-control input-lg">    
                                </div>
                            </div>

                            <input type="url" name="name" id="comment-url" placeholder="Website" class="form-control input-lg">

                            <textarea rows="10" name="message" id="comment-body" placeholder="Your Message" class="form-control input-lg"></textarea>

                            <div class="buttons clearfix">
                                <button type="submit" class="btn btn-xlarge btn-clean-one">Submit</button>
                            </div>
                        </form>
                    </aside>
                </div>

                <div id ="sider"></div>

            </div>
        </div>
    </div>

    <!--尾部-->
    <footer th:replace="partial/footer :: footer"></footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/editormd/editormd.js"></script>
    <script src="/assets/editormd/lib/marked.min.js"></script>
    <script src="/assets/editormd/lib/prettify.min.js"></script>
    <script src="/assets/editormd/lib/raphael.min.js"></script>
    <script src="/assets/editormd/lib/underscore.min.js"></script>
    <script src="/assets/editormd/lib/sequence-diagram.min.js"></script>
    <script src="/assets/editormd/lib/flowchart.min.js"></script>
    <script src="/assets/editormd/lib/jquery.flowchart.min.js"></script>
    <!--自定义js-->
    <script src="/assets/js/article.js"></script>
    <script src="/assets/js/sider.js"></script>
    <script src="/assets/js/footer.js"></script>
</body>
</html>