<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partial/head :: head"></head>
<body>
    <!--头部-->
    <header th:replace="partial/header :: header"></header>
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                            <!--<div class="lead-image">
                                <img src="..//assets/img/single-post.jpg" alt="" class="img-responsive">
                            </div>-->
                        </header>
                        <div class="body">
                            <h1 th:text="${article.title}"></h1>
                            <div class="meta">
                                <i class="fa fa-calendar" th:text="'&nbsp;' + ${#dates.format(article.createTime,'yyyy-MM-dd')}"></i>
                                <i class="fa fa-user" th:text="'&nbsp;' + ${article.author}"></i>
                            </div>
                            <!--详情-->
                            <div id="article-content" class="body">
                                <textarea id="append-test" style="display:none;" th:utext="${article.content}"></textarea>
                            </div>
                        </div>
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>Share on </h3>
                        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
                    </aside>

                    <aside class="comments" id="comments">
                        <hr>
                        <h2>
                            <i class="fa fa-comments"></i>
                            <span id = "url::此处替换为欲显示评论数的文章URL" class = "cy_cmt_count" ></span>
                            <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cyt793Fox">
                            </script> 条评论
                        </h2>
                        <!--PC和WAP自适应版-->
                        <div id="SOHUCS" sid="请将此处替换为配置SourceID的语句" ></div>
                        <script type="text/javascript">
                            (function(){
                                var appid = 'cyt793Fox';
                                var conf = 'prod_d001b86e57c1633ce09b0ab2999f0b61';
                                var width = window.innerWidth || document.documentElement.clientWidth;
                                if (width < 960) {
                                    window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                                } else {
                                    var loadJs = function (d, a) {
                                        var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                                        var b = document.createElement("script");
                                        b.setAttribute("type", "text/javascript");
                                        b.setAttribute("charset", "UTF-8");
                                        b.setAttribute("src", d);
                                        if (typeof a === "function") {
                                            if (window.attachEvent) {
                                                b.onreadystatechange = function () {
                                                    var e = b.readyState;
                                                    if (e === "loaded" || e === "complete") {
                                                        b.onreadystatechange = null;
                                                        a()
                                                    }
                                                }
                                            } else {
                                                b.onload = a
                                            }
                                        }
                                        c.appendChild(b)
                                    };
                                    loadJs("http://changyan.sohu.com/upload/changyan.js", function () {
                                        window.changyan.api.config({appid: appid, conf: conf})
                                    });
                                }
                            })();
                         </script>
                    </aside>

                </div>

                <div id ="sider"></div>

            </div>
        </div>
    </div>

    <!--尾部-->
    <footer th:replace="partial/footer :: footer"></footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
    <script src="/assets/editormd/editormd.js"></script>
    <script src="/assets/editormd/lib/marked.min.js"></script>
    <script src="/assets/editormd/lib/prettify.min.js"></script>
    <script src="/assets/editormd/lib/raphael.min.js"></script>
    <script src="/assets/editormd/lib/underscore.min.js"></script>
    <script src="/assets/editormd/lib/sequence-diagram.min.js"></script>
    <script src="/assets/editormd/lib/flowchart.min.js"></script>
    <script src="/assets/editormd/lib/jquery.flowchart.min.js"></script>
    <!--自定义js-->
    <script src="/assets/js/article.js"></script>
    <script src="/assets/js/sider.js"></script>
    <script src="/assets/js/footer.js"></script>
</body>
</html>